
nav{
  padding:2%;
 }
 .tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  color: black;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */ 
#London {background-color:#011;}
#Paris {background-color:#012;}
#Tokyo {background-color:#013;}
#Oslo {background-color:#014;}
 #na{
  font-family: 'Modak', cursive;font-size: 22px;
  margin-left:2%;
  padding:2%;
 
 }
 #log{ background-image:url("https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg");}
 #for{padding-top:14%;
  font-family: 'Modak', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-size: 20px;
}
#fo{padding-top:9%;
  font-family: 'Modak', cursive;
  font-family: 'Teko', sans-serif;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

 /* .he{
 
  color:cyan;
  text-shadow: 4px 4px solid yellow;
 } */
 /* body {
  font-family: Arial, Helvetica, sans-serif;}
 
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
 }
 
 .navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
 }
 
 .navbar a:hover {
  background-color: #000;
 }
 
 .active {
  background-color: #4CAF50;
 }
 
 @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
 }
 /* { */
 
 #welcome{
  background-image:url("https://images.pexels.com/photos/352505/pexels-photo-352505.jpeg");
  -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
    font-family: 'Modak', cursive;
font-family: 'Teko', sans-serif;
font-size: 30px;

 }
 #loading {
  -webkit-animation: rotation 5s infinite linear;
  border-radius:50%;
 }
 
 @-webkit-keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
  }
  to {
          -webkit-transform: rotate(359deg);
  }
 }
 .he {
 
  color: red;
  font-family: 'Modak', cursive;
font-family: 'Teko', sans-serif;
font-size: 44px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
 }
 
 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes example {
  from {color: rgb(99, 31, 31);}
  to {color: rgb(0, 255, 213);}
 }
 
 /* Standard syntax */
 @keyframes example {
  from {color: rgb(99, 31, 31);;}
  to {color: rgb(0, 255, 213);;}
 }
 
 #or{
   padding-left:20px;
 }
 .centered {
   font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contain {
  position: relative;
  text-align: center;
  color: white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
a:hover .image {
  opacity: 0.3;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
   transform: scale(1.1);

}
a:hover .middle {
  opacity: 1;
}

.ooh{
border-radius: 50%;
padding:2%;

}
#portfolio{
    background-color: beige;
}

.po{
  font-family: 'Adamina';font-size: 16px;
}
