{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
{% load staticfiles %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Barlow+Condensed|Modak|Teko" rel="stylesheet">
</head>
<body id="log">
<div class="container" id="for">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <p class="text-center"><p><strong><em>Don't have an account as an organiser ? Click<a href="/accounts/register/"> Sign Up</a> to create an account.</em></strong></p></p>
        </div>
        <div class="panel-body" >

          <form  action="/accounts/login/" method="post" >
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
</body>
{% endblock %}