
{% extends 'base.html' %}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css" type="text/css"> 
        <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
      
        <title>New Article</title>
        {{form.media}}
      
      {% block styles %} {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}
      
      </head>
      
<body style="background-image:url(https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg);background-size: cover;">
    <div class = "container">
   <h2 id="evt"><center >Enter the Event please!!! </center></h2>
        <form  action="{%url 'event'%}" method="post" enctype="multipart/form-data" style="color:white;font-size:24px;">
            {%csrf_token%}

   
    {% bootstrap_form form layout="vertical" size="large" label_class="form-label col-md-3" %}<br>
    <input type="submit" class="btn btn-info btn-lg" value="Post">
  </form>

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</div>
</body>

</html>
{% endblock %}