{% extends 'base.html' %}
{% load bootstrap3 %} 
{% load staticfiles %}
{% block content %}

<html>
    <body>
    <div class="container">
            <h4 style="text-align: center;padding-left:20px;font-family: monospace;color:black;"><strong>WELCOME {{user.username|upper}}</strong></h4>
            <p style="text-align: center;padding-left:20px;font-family: monospace;color:black;"><strong>{{date|date:"l d-F Y"|upper}}</strong></p>
        {% for i in event %}
        <a href="{% url 'info' i.id%}"><h2>{{i.title}}</h2></a>
       
        {% endfor %}
    </div>
    </body>
</html>

{%endblock%}