{% load bootstrap3 %}
{% load staticfiles %}
<html>
   <head>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>UPDATEME</title>
           {% block styles %}
             {% bootstrap_css %}
             <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
             <link rel="stylesheet" href="{% static 'css/styles.css' %}">
             <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
           {% endblock %}
   </head>
   <body>
       <div id="welcome">
               <nav class="navbar navbar-inverse">
                       <div class="container-fluid">
                               <i class="far fa-calendar-alt"></i>
                           <div class="navbar-brand navbar-right " id="na">
                               <a href="accounts/login/" id="or">ORGANIZER</a>
                               <a  href="{% url 'home' %}">EVENTS</a>
                             </div>
                            
                     </div>
                     </nav><br><br>
        <div  class="container">
                    <center><h1 class="he"><strong>Welcome,</strong></h1><br><br><br></center>
               <h2><strong>Thank you for visiting our application. Here you can view all the available in Rwanda. Event Organisers can click the ORGANISER <br> link to add </strong> <strong>event</strong>.</h2>
           </div>
        </div>
   </body>
</html>

