{% load bootstrap3 %}
{% load staticfiles %}
<html>
   <head>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>UPDATEME</title>
           {% block styles %}
             {% bootstrap_css %}
             <link href="https://fonts.googleapis.com/css?family=Modak|Teko" rel="stylesheet">
             <link rel="stylesheet" href="{% static 'css/styles.css' %}">
           
           {% endblock %}
   </head>
   <body>
       <div id="welcome">
              
        <div  class="container">
                 
           
        
                     <div id="London" class="tabcontent">
                        <h1>ORGANISER</h1>
                        <p>You can login through your accounts by click the ORGANISER link and start to add event and update your profile.</p>
                      </div>
                      
                      <div id="Paris" class="tabcontent">
                        <h1>ATTENDEES</h1>
                        <p>Click the link ATTENDEES below to be redirected to events you can now view events and purchase tickets for those specific events.</p> 
                      </div>
                      
                      <div id="Tokyo" class="tabcontent">
                        <h1>ABOUT US</h1>
                        <p></p>
                      </div>
                      
                      <div id="Oslo" class="tabcontent">
                        <h1>CONTACT</h1>
                        <p></p>
                      </div>
                      
                      <button class="tablink" onclick="openCity('London', this, 'white')" id="defaultOpen"><a href="accounts/login/" id="or">ORGANISER</a></button>
                      <button class="tablink" onclick="openCity('Paris', this, 'white')"><a  href="{% url 'home' %}">ATTENDEES</a></button>
                      <button class="tablink" onclick="openCity('Tokyo', this, 'white')">ABOUT US</button>
                      <button class="tablink" onclick="openCity('Oslo', this, 'white')">CONTACT</button>
                      <br>
                      <br>
                      <br>
                    <div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <center><h1 class="he"><strong><img src="http://www.animatedimages.org/data/media/707/animated-welcome-image-0158.gif"></strong></h1><br></center>
                        
                </div>
                <script>
                      function openCity(cityName, elmnt, color) {
                        // Hide all elements with class="tabcontent" by default */
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                          tabcontent[i].style.display = "none";
                        }
                      
                        // Remove the background color of all tablinks/buttons
                        tablinks = document.getElementsByClassName("tablink");
                        for (i = 0; i < tablinks.length; i++) {
                          tablinks[i].style.backgroundColor = "";
                        }
                      
                        // Show the specific tab content
                        document.getElementById(cityName).style.display = "block";
                      
                        // Add the specific color to the button used to open the tab content
                        elmnt.style.backgroundColor = color;
                      }
                      
                      // Get the element with id="defaultOpen" and click on it
                      document.getElementById("defaultOpen").click();
                </script> 
            </div>    
        </div>                     
   </body>
</html>

